.home {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .filterWrapper {
    display: flex;
    gap: 16px;
  }
  .dealsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    > * {
      flex: 0 1 calc(25% - 8px);
    }
  }
}
